
.container {
  /* I couldn't figure out how to do this with Tailwind.... */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.checklistItemDescription {
  a {
    text-decoration: underline;
  }
}
